---
layout: archive
permalink: /
# title: Biography
author_profile: true
# redirect_from:
#   - /index.html
---
<h1>
  Hey! I'm Elijah Christensen :wave:
</h1>
I'm a full stack software developer turned computational neuroscientist at the University of Colorado Anschutz.
My current research interests lie at the intersection of machine learning and neuroscience.



<h2>Posts</h2>
<div class="grid__wrapper">
<!-- {% assign dev-posts = site.posts | where: "categories","dev" %} -->
{% for post in site.posts limit:4 %}
  {% include archive-single.html type="grid" %}
{% endfor %}
</hr>
</break>
</div>

<h2>Publications</h2>
<div class="grid__wrapper">
{% for post in site.publications reversed limit:4 %}
  {% include archive-single.html type="grid" %}
{% endfor %}
</div>

{% include base_path %}