---
layout: archive
permalink: /
title: "Home"
author_profile: true
# redirect_from:
#   - /index.html
feature_row:
  - image_path: /startrail-stax.jpg
    excerpt: "Recent photography posts"
    url: /year-archive/
    title: "Photography"
  - image_path: /500x300.png
    url: /year-archive/
    title: "Science"
  - image_path: /500x300.png
    url: /year-archive/
    title: "Dev"
---
{% include base_path %}

<h2>Recent Posts</h2>
<div class="grid__wrapper">
<!-- {% assign dev-posts = site.posts | where: "categories","dev" %} -->
{% for post in site.posts limit:4 %}
  {% include archive-single.html type="grid" %}
{% endfor %}
</div>

<h2>Recent Publications</h2>
<div class="grid__wrapper">
{% for post in site.publications reversed %}
  {% include archive-single.html type="grid"%}
{% endfor %}
</div>